
style>body {
	padding: 0;
	margin: 0;
}

.dialog_outter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dialog_wrapper {
	width: 400px;
	background: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	box-sizing: border-box;
}

.dialog_close_btn {
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.dialog_title {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.dialog_content {
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.dialog_btn_group {
	display: flex;
	justify-content: flex-end;
}

.btn_confirm {
	background-color: Blue;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid blue;
	border-radius: 4px;
	margin-right: 10px;
	cursor: pointer;
}

.btn_cancel {
	background-color: #fff;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 4px;
	margin-right: 10px;
	cursor: pointer;
}

.form_item span {
	display: inline-block;
	width: 100px;
}

.form_item input {
	width: 200px;
	height: 25px;
	line-height: 25px;
	outline: none;
	border-radius: 5px;
}

.form_item {
	margin-bottom: 10px;
}

.form_item:last-child {
	margin-bottom: 0;
}

.overlap {
	
	background: #000;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}
